@{
    ViewData["Title"] = "PeopleIndex";
}
<div class="text-center">
    <h3>People Index</h3>
    
</div>

<div>
    <h1> List of People</h1>

    <ul>
        <li>
            <a class="btn btn-primary" asp-controller ="People" asp-action ="People">People</a>
        </li>
    </ul>

</div>