@model ASP.NETCoreEmptyProject.Models.CityModel

@{
    ViewData["Title"] = "CreateCity";
}

<h2>Add City</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country.CountryName" class="control-label"></label>
                <select asp-for="Country.CountryName" class="form-control" asp-items="ViewBag.CountryId"></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="City">Back to List</a>
</div>
