@model List<ASP.NETCoreEmptyProject.Models.CountryCityModel>


<div class="container">
    <h2>List of Cities</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Country</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model)
            {
                <tr>
                    <td>@country.CountryName</td>
                    <td>@country.CityName</td>
                </tr>
            }
        </tbody>

    </table>
</div>