@{
    ViewData["Title"] = "FeverCheck";
}
<div class="text-center">
    <h3>Check your temperature</h3>
    <img src="/imgs/doctor.jpg" width="600" height="300" />
</div>

@if (ViewBag.Message != null)
 {
    <p>@ViewBag.Message</p>
 }


<div class="form">
    <form asp-controller="Doctor" asp-action="FeverCheck" method="post">
        <div class="row">
            <div class="col-25">
                <label> Name </label>
            </div>
            <div class="col-75">
                <input type="text" name="name" />
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label> Temperature°C </label>
            </div>
            <div class="col-75">
                <input type="number" name="temperature" />
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Check" />
        </div>

    </form>
</div>
