@model List<ASP.NETCoreEmptyProject.Models.LanguageModel>

@{
    ViewData["Title"] = "People";
}
<div class="text-center">
    <h3>Languages and People</h3>
</div>
<div class="container">

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Person</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                <tr>

                    <td>@item.PeopleLanguages</td>
                    <td>@item.Language</td>

                </tr>
                }

            </tbody>
        </table>

    </div>
</div>
