@{
    ViewData["Title"] = "About";
}


<div class="text-center">
    <h1 class="display-4">My Profile</h1>
    <p>LinkedIn page <a href="https://linkedin.com/in/rabab-alsurmi-1739b4158">Rabab Alsurmi</a>.</p>
    <p> View Updated Cv <a href="https://drive.google.com/file/d/1ea0kxs_YoSxJnm9VCElxKwsZ8p1NagRI/view?usp=sharing"> pdf file</a>.</p>
</div>
