@{
    ViewData["Title"] = "Projects";
}


<h2>@ViewBag.Test</h2>

<div class="text-center">
    <h1 class="display-4">My Projects in GitHub</h1>
    <img src="/imgs/projects.jpg" width="600" height="300" />
</div>

<div>
    <p> <a href="https://github.com/Rababalsurmi"> My GitHub page</a>.</p>
    <p>Project 1 <a href="https://github.com/Rababalsurmi/Sokoban"> Sokoban</a>.</p>
    <p>Project 2 <a href="https://github.com/Rababalsurmi/VendingMachine"> Vending Machine</a>.</p>
    <p>Project 3 <a href="https://github.com/Rababalsurmi/CalcApp"> Calculater</a>.</p>
    <p>Project 4 <a href="https://github.com/Rababalsurmi/Hangman-Assignment-2"> Hangman</a>.</p>
    <p>Project 5 <a href="https://github.com/Rababalsurmi/TodoApp"> To Do App</a>.</p>

</div>

    