<div>
    <h2>@ViewBag.Title</h2>

    <div>
        <h2>JQuery with Ajax functions</h2>

        <div id="errorMessages"></div>

        <input type="button" class="btn btn-primary" onclick="getAllPeople()" value="Get People" />

        <label for="PersonIdInputLable">Person ID</label>

        <input for="PersonIdInput" type="number" />

        <input type="button" class="btn btn-primary" onclick="getPersonById()" value="Person Details" />

    </div>

    <div id="PersonList"></div>
</div>

